:root {
  --grey-color: #f0f0f0;
  --dark-grey-color: #5c5c5c;
  --green-color: #28d979;
  --light-green-color: #ddf163;
  --dark-green-color: rgba(126, 115, 18, 0.4);
  --hashtag-green-color: #149063;
  --yellow-color: #f6ed1e;
  --ripple-color: rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Medium.ttf");
  font-weight: 500;
}

html {
  font-family: "Poppins";
  font-weight: 400;
}

.wrapper {
  position: relative;
}

#download-btn {
  position: fixed;
  top: 50px;
  left: calc(100vw - 95%);
  background: #000;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 60px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header-section {
  margin: 15px 0 20px 0;
  width: 100%;
  height: 200px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.header__left-side {
  display: flex;
  gap: 20px;
}

.header__item {
  width: 200px;
  height: 100%;
  background-color: #333;
  border-radius: 20px;
}

.photo {
  width: 100%;
}

.occupation {
  padding: 20px;
  background-color: var(--grey-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
}

.editable-occupation__name {
  font-weight: 600;
  font-size: 18px;
}

.editable-occupation__occupation {
  color: var(--dark-grey-color);
}

.languages {
  width: 400px;
  padding: 20px;
  background-color: var(--grey-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.languages__main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.languages__item {
  display: flex;
  justify-content: space-between;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    width: 60%;
    border-radius: 5px;
    -webkit-appearance: none;
    background-color: transparent;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 11px;
    -webkit-appearance: none;
    color: var(--green-color);
    margin-top: -1px;
    border-radius: 5px;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: var(--green-color);
    box-shadow: -80px 0 0 125px var(--green-color);
    border-radius: 5px;
  }
}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: var(--green-color);
}
input[type="range"]::-moz-range-track {
  background-color: transparent;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: var(--green-color);
}
input[type="range"]::-ms-fill-upper {
  background-color: transparent;
}

.languages__header {
  font-size: 18px;
  font-weight: 600;
}

.main-section {
  display: flex;
  gap: 20px;
  justify-content: center;
  height: fit-content;
  margin: 0 0 20px 0;
}

.main-section__item {
  background-color: var(--grey-color);
  border-radius: 20px;
  padding: 20px;
}

.experience {
  width: 605px;
}

.main-section__header {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.experience__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.experience__item {
  border-radius: 20px;
  background: #fff;
  padding: 20px;
  font-size: 12px;
  font-weight: 500;
}

.experience-item__wrapper {
  display: flex;
  justify-content: space-between;
}

.experience__time {
  margin: 0 0 10px 0;
  display: flex;
  justify-content: space-between;
}

.experience__item:nth-child(1) {
  background: var(--green-color);
  color: #fff;
}

.experience__tag {
  padding: 2px 6px;
  border-radius: 60px;
  background: var(--dark-green-color);
  color: var(--light-green-color);
}

.experience__details {
  font-size: 10px;
  font-weight: 400;
}

.experience__left {
  width: 25%;
}

.experience__right {
  width: 65%;
  font-weight: 400;
}

.tools {
  width: 205px;
}

.bottom-section {
  display: flex;
  gap: 20px;
  justify-content: center;
  height: fit-content;
  margin: 0 0 20px 0;
}

.education {
  width: 405px;
}

.tools__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.tool {
  width: 100%;
  height: fit-content;
  background: #fff;
  border-radius: 12px;
  padding: 26px 28px;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  position: relative;
}

.tool__header {
  position: absolute;
  top: -10px;
  left: 55px;
  color: #fff;
  background: #000;
  padding: 2px 6px;
  border-radius: 60px;
  font-size: 9px;
}

.artificial-intelligence > .tool__header {
  left: 30px;
}

.tool img {
  width: 35px;
  height: 35px;
}

.bottom__right-side {
  width: 405px;
}

.bottom-section__item {
  background-color: var(--grey-color);
  border-radius: 20px;
  padding: 20px;
}

.bottom-section__header {
  font-weight: 500;
}

.interests__box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.interests__item {
  padding: 4px 10px;
  background: #fff;
  border-radius: 40px;
}

.contacts {
  background: #000;
  color: #fff;
}

.contact {
  font-weight: 400;
  font-size: 12px;
}

.education__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.education__item {
  width: 170px;
  height: fit-content;
  background: #fff;
  border-radius: 20px;
  padding: 15px;
  font-size: 12px;
}

.education__item:nth-child(1) {
  background: var(--green-color);
  color: #fff;
}

.education__item:nth-child(1) > .education__hastags,
.education__item:nth-child(1) > .education__hastags > span {
  color: #fff;
}

.education__header {
  margin: 0 0 10px 0;
  font-weight: 600;
}

.heart {
  position: relative;
}

.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 138px;
  top: -25px;
  width: 5px;
  height: 8px;
  background: var(--yellow-color);
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart:after {
  left: 133px;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.education__hastags {
  margin: 0 0 10px 0;
  color: var(--hashtag-green-color);
}

.education__hastags span {
  font-weight: 600;
  color: #000;
}

.interests {
  margin: 0 0 20px 0;
}

.ripple-surface {
  position: relative;
  overflow: hidden;
}

.ripple-surface .ripple-effect {
  position: absolute;
  border-radius: 50%;
  background-color: var(--ripple-color);

  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;

  animation: ripple 1s;
  opacity: 0;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}

p[contenteditable="true"]:focus {
  outline: none;
}
span[contenteditable="true"]:focus {
  outline: none;
}
div[contenteditable="true"]:focus {
  outline: none;
}

.languages-section {
  display: none;
  width: 300px;
  margin: 0 auto;
  height: 150px;
  background: var(--grey-color);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

@media (max-width: 845px) {
  .main-section {
    flex-direction: column;
  }

  .main-section__item {
    width: 100%;
  }

  .tools__container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .tool {
    width: 25%;
  }

  .tool__header {
    left: 70px;
  }

  .artificial-intelligence > .tool__header {
    left: 50px;
  }
  .bottom-section {
    flex-direction: column;
  }

  .education {
    width: 100%;
  }

  .bottom__right-side {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 664px) {
  .tools__container {
    flex-direction: column;
  }
  .tool {
    width: 100%;
  }
}

@media (max-width: 684px) {
  .header-section {
    height: 150px;
  }
  .header__item {
    width: 150px;
    height: 150px;
  }
  .languages {
    display: none;
  }

  .languages-section {
    display: block;
  }
}
